/* * {
  box-sizing: border-box;
}

.nav-bar{
  width: 15%;
  border-right: 3px solid black;
}

.chatroom{
  width: 80%;
  margin-left: 16px;
}

*/
.container{
  max-height: 100vh;
} 

li{
  list-style: none;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  border-right: 3px solid black;
}

header {
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 8px;
  padding-top: 4px;
  margin-bottom: 0px;
  padding-left: 32px;
  min-height: 108px;
}

.user {
  font-size: 16px;
  font-weight: bold;
}

.message{
  font-size: 12px;
}

.chatroom{
  border-bottom: 3px black solid;
  overflow-y: scroll;
  max-height: 80vh
}

.new-btn{
  color: white;
  background-color: black;
}

#canvas3{
  background-color: black;
  position: absolute;
  left: 75%;
  top: 0%;
}

.stacked{
  display: flex;
  flex-direction: column;
}

.App{
  max-height: 100vh;
  overflow: scroll;
}