* {
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 8px;
  padding-top: 4px;
  margin-bottom: 8px;
  padding-left: 32px;
}
.nav-bar{
  width: 15%;
  border-right: 3px solid black;
}

.chatroom{
  width: 80%;
  margin-left: 16px;
}

.nav-bar{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
}
